/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* General body styles */
  body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header styles */
  #header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  
  /* Left iframe (Navigation) */
  #left-frame {
    width: 20%;
    height: 1000px;/* Adjust as needed */
    border: none;
  }
  
  /* Right iframe (Main content) */
  #right-frame {
    width:77%;
    height: 1000px; /* Adjust as needed */
    border: none;
  }
  
  /* Footer styles */
  #footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
